newenv/
.env
logs/*
*.pyc
*.env
dump/*
*/.ipynb-checkpoints/*
__pycache__/
*.egg-info/
*.egg
*.DS_Store
*.pdb
scripts/logs/*
gecco-env/*
/.idea
.vscode/
*.toml
LLMGuidelines.md
.gecco/*
.gecco_new/*
.DS_Store
dump/*