numpy>=1.26
pandas>=2.2
bottleneck>=1.4
torch>=2.2
numexpr>=2.10
transformers>=4.43
pydantic>=2.8
typing-extensions>=4.12
pyyaml>=6.0
tqdm>=4.66
scipy>=1.12
python-dotenv
openai
accelerate
ipdb
google-genai